#header {
  width: 100%;
  height: 25px;
  background-color: brown;
  border: solid;
  border-color: white;
  text-align: center;
}

#container {
  display:flex;
  height: 300px;
}


#center {
  width: 100%;
  height: 294px;
  background-color: blue;
  order: 1;
  flex-grow: 2;
  border: solid;
  border-color: white;
  text-align: center;
}

#left {
  width: 200px;
  right: 200px;
  background-color: green;
  order: 0;
  flex-grow: 1;
  border: solid;
  border-color: white;
  text-align: center;
}

#right {
  width: 200px;
  left: 200px;
  background-color: purple;
  order: 2;
  flex-grow: 1;
  border: solid;
  border-color: white;
  text-align: center;
}

#footer {
  width: 100%;
  background-color: orange;
  height: 25px;
  border: solid;
  border-color: white;
  text-align: center;
}